@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    /* Primary */

    --brightorange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --verydarkcyan: hsl(179, 100%, 13%);

    /* Neutral */

    /* paragraphs */
    --transparentwhite: hsla(0, 0%, 100%, 0.75);
    /* background, headings, buttons */
    --verylightgray: hsl(0, 0%, 95%);

}

.attribution {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px; 
    text-align: center;
    margin-bottom: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
main {
    margin: auto;
    display: grid;
    place-content: center;
    max-width: 50rem;
}

.sedans {
    background-color: var(--brightorange);
}
.sedans button {
    color: var(--brightorange);
}
.sedans button:hover {
    background-color: var(--brightorange);
    color: white;
}
.suvs {
    background-color: var(--darkcyan);
}
.suvs button {
    color: var(--darkcyan);
}
.suvs button:hover {
    background-color: var(--darkcyan);
    color: white;
}
.luxury {
    background-color: var(--verydarkcyan);
}
.luxury button {
    color: var(--verydarkcyan);
}
.luxury button:hover {
    background-color: var(--verydarkcyan);
    color: white;
}

.container {
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.1);
}
.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card .headline {
    font-family: Big Shoulders Display;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 2.5rem;
}
.card .description {
    color: var(--transparentwhite);
    font-family: Lexend Deca;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.card button {
    border: 1px solid white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3rem;
    padding: 0.7rem;
    min-width: 8rem;
    border-radius: 25px;
    background-color: white;
    margin-top: auto;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* ============================== Media =================================== */

@media only screen and (max-width: 630px) {
    .container {
        flex-wrap: wrap;
        border-radius: 0;
    }
    main {
        margin: 0;
    }
    .attribution {
        margin-top: auto;
    }
}